.clickable {
    cursor: pointer;
}

.table-hover tbody tr:hover {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background-color: rgba(0, 0, 0, .075)
}
.bg-gradient-default {
    background: linear-gradient(#a20000, #CC0000, #a20000)!important;
}
.nav-link:hover {
    color: #CC0000!important;
}
.text-primary {
    color: #CC0000!important;
}
.nav-link.active:before{
    border-left: 3px solid #CC0000!important;
}
.btn-primary {
    border-color: #CC0000!important;
    background-color: #CC0000!important;
}
.navbar-toggler {
    background-color: #CC0000!important;
}