//Font
@import url('https://fonts.googleapis.com/css?family=Questrial');
// Variables
@import "variables";
//Imports
@import "form";

//Style
html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: 'Questrial', sans-serif;
}

.clickable {
  cursor: pointer;
}

.side-nav .collapsible a {
  font-size: 1.0rem;
}

.logo-wrapper {
  border: 0 !important;
}

.content-wrapper {
  padding-left: 275px;
  padding-right: 25px;
  padding-top: 103px;
  height: 100%;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.btn-custom {
  background-color: $site-color;
  color: $site-color-text;
  &:active, &:hover {
    color: $site-color-text;
  }
}

.btn {
  border: 0 !important;
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
}

.custom-active {
  background-color: rgba(134, 134, 134, 0.15);
}

.navbar {
  height: 80px;
  a {
    color: $site-color-text !important;
  }
}

li a:hover {
  text-decoration: none;
}

.head-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 45px;
}
.dropdown-item:hover {
  background-color: rgba(134, 134, 134, 0.15)!important;
}
@media only screen and (max-width: 1240px) {
  .content-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 103px;
  }
}
